  body {
    margin: 0;
    font-family:  sans-serif;

  }
  .wave-above {
    position: relative;
    background: #000B76;
    color: #FFF;
    
    overflow: hidden;
    min-height: 300px;
  }
 
  h1 {
    font-size: 40px;
    font-family:"Trebuchet MS", Helvetica, sans-serif;
    text-align: center;
    margin-top: 70px;
  }
  .header-text{
    font-size: 20px;
    font-family:  "Comic Sans MS", cursive, sans-serif;
    text-align: center;
    margin-left: 7rem 1.25rem 2.5rem 1.25rem; 
    margin-top: 30px;
  }
  .more{
    font-size:9.6px;
    font-family: Arial, Helvetica, sans-serif;
  }

.rounded {
  border-radius: 1rem
}

.nav-pills .nav-link {
  color: #555
}

.nav-pills .nav-link.active {
  color: white
}

input[type="radio"] {
  margin-right: 5px
}

.bold {
  font-weight: bold
}
.hidden{
  display: none;
}
    
